<div class="page-content">

    
    
    <mat-card class="sermon-card">
        <div class="sermons">
            <mat-paginator 
            class="paginator"
            [pageSize]="pageSize" 
            [pageSizeOptions]="pageSizeOptions"
            [length]="sermonList.length" 
            (page)="onPageChange($event)">
            </mat-paginator>
            <div class="sermon-paginator">
                <div class="grid-container">
                    <div class="grid-item" *ngFor="let item of displayedItems">
                        <app-sermon-square-card sermonDescription="{{item[2]}}" sermonTitle="{{item[0]}}" sermonPassage="{{item[1]}}"></app-sermon-square-card>
                    </div>
                </div>
            </div>
        </div>
    
    </mat-card>
    
    
</div>

<!---
<div class="sermonYearList">
    <ul class="shortcuts">
        <li><b>Sermons By Year</b></li>
        <li><a href="#">2023</a></li>
        <li><a href="#">2022</a></li>
        <li><a href="#">2021</a></li>
        <li><a href="#">2020</a></li>
        <li><a href="#">Archived</a></li>
    </ul>
</div>
-->