
.page-content{
    width: fill;
    overflow: hidden;
}



/* Shortcuts */
.sermonYearList{
    position: fixed;
    background-color: rgb(224, 224, 224);
    width: 250px;
    left: 50px;
    top: 250px;
}
.sermonYearList{
    list-style: none;
}
.sermonYearList li:nth-child(1){
    margin-left: -20px;
}
.sermonYearList li a{
    text-decoration: none;
}

.sermons{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.sermon-paginator{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.paginator{
    margin: auto;
}

.sermon-card{
    width: inherit;
    padding: 50px;
    padding-bottom: 50px;

    margin: 30px;
    margin-bottom: 50px;
}
/*
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 5em;
}*/
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 5em;
}
.grid-item{
    width: 350px;
    height: 130px;
}