@import url('../about-page/about-page.component.scss');
@import url('../home-page/home-page.component.scss');
.page-content{}
.sermon-card{}
.paginator{}
.sermon-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 300px;

    background-color: aquamarine;
    margin-bottom: 200px;
    
}
.sermon-controls{
    margin: auto;
}
.sermon-view{
    margin-top: 20px;
    margin: auto;
}

/* Shortcuts */
.sermonYearList{
    position: fixed;
    background-color: rgb(224, 224, 224);
    width: 250px;
    left: 50px;
    top: 250px;
}
.sermonYearList{
    list-style: none;
}
.sermonYearList li:nth-child(1){
    margin-left: -20px;
}
.sermonYearList li a{
    text-decoration: none;
}

.sermons{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.sermon-paginator{
    width: 80%;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px 20px;
    justify-content: center; /* add this property */
    align-items: center; /* add this property */
}