<div class="base">
    <div class="middle">
        
        <div class="links">
            <ul class="events-list">
                <li><b class="bold-item">Ministry</b></li>
                <li><a href="">Our Pastor</a></li>
                <li><a href="">Missonaries</a></li>
                <li><a href="">Bus Stop Ministry</a></li>
                <li><a href="">Awana Program</a></li>
                <li><a href="">Special Music</a></li>
                <li><b class="bold-item">About</b></li>
                <li><a href="#Statmentoffaith">Our Statment Of Faith</a></li>
            </ul>
            <ul class="events-list">
                <li><b class="bold-item">Bible Study</b></li>
                <li><a href="">Men's Breakfast</a></li>
                <li><a href="">Ladies Bible Study</a></li>
                <li><a href="">Marriage Bible Study</a></li>
                <li><a href="">Bible Study and Prayer</a></li>
                <li><b class="bold-item">Events</b></li>
                <li><a href="#Upandcomming">Upcoming Events</a></li>
            </ul>
           


        </div>
        
        <div class="details">
            <p><b>Church Address</b><br>16439 Hughes Rd.<br>Victorville, CA<br><a href="https://goo.gl/maps/YCYcH3DRShZ3cT7j6" style="font-size:16px">Google Maps</a></p>
            
            <p><b>Mailing Address</b><br>P.O. Box 1591,<br> Victorville,<br> CA 92393-1591</p>

            <p><b>Email Address</b><br>bibletrom@gmail.com</p>

            <div class="info">
                <div class="socials-mobile">
                    <div>
                        <b class="bold-item">Social Links</b>
                    </div>
                    <div>
                        <a routerLink="contact"><img src="../../assets/images/icons8-mail-100.png"></a>
                        <a href="https://www.facebook.com/victorvalleybiblechurch.org/"><img src="../../assets/images/icons8-facebook-96.png"></a>
                    </div>
                    
                </div>
            </div>

        </div>
        
        <div class="info">
            <div class="socials">
                <div>
                    <b class="bold-item">Social Links</b>
                </div>
                <div>
                    <a routerLink="contact"><img src="../../assets/images/icons8-mail-100.png"></a>
                    <a href="https://www.facebook.com/victorvalleybiblechurch.org/"><img src="../../assets/images/icons8-facebook-96.png"></a>
                </div>
                
            </div>
        </div>
        
    </div>
</div>