<div class="content">
    <div class="i">
    </div>
    <div class="info">
        <div class="left">
            <div class="title">
                <b>{{sermonTitle}}</b>
            </div>
            <div class="links">
                <ul>
                    <li>Date: {{sermonDate}}</li>
                    <li>Length: {{sermonLength}}</li>
                </ul>
                <p>Go to Sermon <a class="anchor">Here</a></p>
            </div>
        </div>
        <div class="right">
            <div>
                <ul class="link-labels">
                    <li>Watch on Facebook</li>
                    <li>Download Audio</li>
                    <li>Weekly Bulletin</li>
                </ul>
                <ul class="link-icons">
                    <li><img id="facebook" src="../../assets/images/icons8-facebook-96.png" alt=""></li>
                    <li><img id="download" src="../../assets/images/icons8-downloading-updates-96.png" alt=""></li>
                    <li><img id="download" src="../../assets/images/icons8-downloading-updates-96.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>
