<div class="admin-content">
    <div class="left-menu">
        <ul>
            <li><b>Add New Content</b></li>
            <li><a href="">New Sermon</a></li>
            <li><a href="">New Post</a></li>
            <li><a href="">New Event</a></li>
        </ul>
    </div>
    <div class="page">

        <div class="add-sermon">
            <h3>New Sermon</h3>
            <p>
                Include Facebook link,  Audio,  and Image
            </p>
            <div class="sermon-label">
                <button>Add</button>
                <input type="text"/>
            </div>
            <div class="sermon-facebook">
                <p>FaceBook Link:</p> 
                <input type="text"/>
            </div>
            <div class="sermon-file">
                <button>Open File</button> 
                <input type="text"/>
            </div>
            <div class="sermon-description">
                <p>Description:</p>
                <textarea name="" id="" cols="30" rows="5"></textarea>
            </div>
            
        </div>
    </div>
    
</div>