.content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    *{
        margin: auto;
        padding-bottom: 20px;
    }
    h5{
        width: 60%;
    }
}

p{
    padding-top: 100px;
}
