<div class="content">
    <div class="spacer"></div>
    <div class="page-content">
        <div class="about-pastor">
            <h1>Pastor Michael Chandlar - Master's Seminary Graduate</h1>
            <app-pastor-card class="pastor-card"></app-pastor-card>
        </div>

        <div class="our-church">
            <div class="oc-title">
                <h2>Our Church</h2>
            </div>
            <div class="oc-content">
                <p>
                    Victor Valley Bible Church is located in --location--. <br>
                    Victor Valley Bible Chruch has been serving The Body of Christ for over 25 years ^and is set on Preaching the Gospel to familes
                    and individuals to grow them more into the image of Christ (verse). ...
                    <br>
                    <br>
                    Our Services start Sunday Morning at 10:30 am. Pastor Mike will read a selected Psalm and Pray before the service. 
                    Then We will sing Hymns for about 15 minutes, followed by a more reading of the Scripture and Prayer, Then We will have a 
                    time of Greating for 5 mintutes, after which we will sit back down for Pastor Mikes Sermon.
                    <br>
                    <br>
                    (comment) or just list the order of events for a sunday morning Sermon
                    <br>
                    <br>
                    Please feel free to reach out to us to see if you would like to worship with us or have questions. We all ways welcome newcomers
                    and would enjoy to see you sunday morning.
                    
                </p>
            </div>
        </div>

        <div class="jump-links ">
            <ul>
                <li><a href="">Our Pastor</a></li>
                <li><a href="">Our Chruch</a></li>
                <li><a href="">What is the Gospel?</a></li>
                <li><a href="">How you can be saved?</a></li>
            </ul>
        </div>
        
    </div>
</div>