<div class="card">
    <div class="text-area">
        <p>
            Pastor Mike Chandler has been faithfully shepherding the Victor Valley Bible Church since December, 1996. The members of the congregation will tell you that he cultivates a lively interest in them individually, and encourages them corporately with carefully crafted and delivered sermons. Pastor Mike has two master’s degrees from The Master’s Seminary, where he acquired his love for expository preaching. Pastor Mike is married to his beautiful wife, Lisa, and  they have three sons; the entire family is musically talented and they frequently bless the congregation with their musical abilities. When he is not studying God’s word or investing in the lives of his congregation, Pastor Mike can be found educating music students, substitute teaching, or walking his dog while memorizing scripture.
        </p>
    </div>
    <div class="photo-card">
        <img src="../../assets/images/pastor.jpg">
    </div>
    
</div>
