
<div class="spacer"></div>

<app-latest-sermon-view></app-latest-sermon-view>

<div class="page-content">

    
    <app-calendar></app-calendar>

    <!--
    <mat-card class="events-card">
        <mat-card-title>
            <h3>Weekly Ministries & Bible Study</h3>
        </mat-card-title>
        <mat-card-content class="events-content">
            <div class="info">
                <h4>Tuesday's</h4>
                <p>Ladies Bible Study 10:00 - 11:30AM</p>
            </div>
            <div class="info">
                <h4>Wednesday</h4>
                <p>Home Bible Study and Prayer 6:15PM </p>
                <p> Please see Pastor for details</p>
            </div>
            <div class="info">
                <h4>Thursday's</h4>
                <p>AWANA Program 6:30pm</p>
            </div>
            <div class="info">
                <h4>Friday's</h4>
                <p>Marriage Bible Study </p>
                <p>Friday at 6:45 - 8:00 pm</p>    
                <p>At the home of Paul and Danielle Wiesen</p>
            </div>
            
            
        </mat-card-content>
    </mat-card>
    -->

    <mat-card class="sermon-card">
        <mat-card-title class="sermon-card-title">
            <h3>Sermons</h3>
        </mat-card-title>
        <mat-card-content>
            <div class="sermons">
                <mat-paginator 
                class="paginator"
                [pageSize]="pageSize" 
                [pageSizeOptions]="pageSizeOptions"
                [length]="sermonList.length" 
                (page)="onPageChange($event)"
                >
                </mat-paginator>
                <div class="sermon-paginator">
                    <div class="grid-container">
                        <div class="grid-item" *ngFor="let item of displayedItems">
                            <app-sermon-square-card sermonDescription="{{item[2]}}" sermonTitle="{{item[0]}}" sermonPassage="{{item[1]}}"></app-sermon-square-card>
                        </div>
                    </div>
                </div>
            </div>
            
        </mat-card-content>
        <mat-card-content>
            <button mat-raised-button color="primary" class="more-sermons-btn" routerLink="sermons">More</button>
        </mat-card-content>
    </mat-card>

    
</div>




<!--
        TEST FOR DROP DOWN BUTTONS IN BOOTSTRAP AND MATERIALS

<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
    Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
    </ul>

</div>


<button mat-flat-button [matMenuTriggerFor]="menu" color="primary">Click Me!</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item color="accent">Action 1</button>
    <button mat-menu-item color="accent">Action 2</button>
    <button mat-menu-item color="warn">Action 3</button>
</mat-menu>

-->