// offset from nav-bar
.spacer{
    width: 100%;
    height: 50px;
    content: '';
}
// main page content - sep from edges and center content
.page-content{
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    margin: auto;
    //background-color: rgb(121, 124, 117); 
    height: fit-content
}


.events-card{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    mat-card-title{
        margin: auto;
        padding: 10px;
    }

    .events-content{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        

        .info{
            margin-top: 30px;
            display: flex;
            align-items: center;
            display: flex;
            flex-direction: column;
            p{
                margin-bottom: -5px;
            }
        }
    }
}




// temp view for sermons - need to connect to api -
.sermon-view{
    display: flex;
    width: 100%;
    background-color: rgb(120, 138, 92);
    margin: auto;
}
.sermon-parent{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.sermon-children{
    width: 250px;
    height: 250px;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    
}
.sermon-children *{
    margin: auto;
}




.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px 20px;
    justify-content: center; /* add this property */
    align-items: center; /* add this property */
}

.sermon-card{
    
    display: flex;
    flex-direction: column;
}
.sermon-card-title{
    margin: auto;
}

.sermons{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.paginator{
    padding: 20px;
}

.more-sermons-btn{
    margin: 20px;
}



@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// NOT WORKING FOR SOME FREAKING REASON
// media resize for sermon view

/*
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}*/


///
@media only screen and (min-width: 880px), (max-width: 1100px) {
    .page-content{
        width: 100%;
    }
    .sermon-children {
        width: calc(50% - 15px);
    }
}
@media only screen and (min-width: 600px), (max-width: 880px) {
    .page-content{
        width: 100%;
    }
    .sermon-children{
        width: calc(40% - 10px);
    }
}

@media only screen and (min-width: 1100px) {
    .page-content{
        width: 90%;
    }
    .sermon-children{
        width: calc(28% - 20px);
    }
}